# config base de chezmoi
encryption = "gpg"
[gpg]
    recipient = "F04F2B435FE7F2269E8B12EFB1B50FF873B531DA"

[edit]
    hardlink = false

[pinentry]
    command = "pinentry"

[global]
edit.command = "vim"


